.chart-container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #521e1e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .chart-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  